.Header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    justify-content: center;
}

.Header-button {
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 200px;
    height: 40px;
    border: 2px solid #ccc;
}

.Search {
    width: 400px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    font: 1em sans-serif;
    color: #ffffff;
}